body
{
    text-align: center;
    background-color: darkred;
}
#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#800080 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
    background-color: darkred;
    color: azure;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#videos{
    background-color: darkgoldenrod;
    color: azure;
}

#song{
    background-color: darkgreen;
    color: azure;
}

#more{
    background-color: darkcyan;
    color: azure;
}

h2{
    font-family: monospace;
}
